{% extends 'base.html.twig' %}

{% block body %}
    <h2>Welcome to our shop</h2>
    <h3>To Continue you can <a href="{{ path('fos_user_security_login') }}">Login</a> OR
        <a href="{{ path('fos_user_registration_register') }}">Register</a>
    </h3>
{% endblock %}

{% block stylesheets %}
<style>
    h2,h3 {
        text-align: center;
    }
</style>
{% endblock %}
