body{
	font-family: 'Raleway', sans-serif;
}
header{
	background: #5bbc2e;
	padding-top: 11px;
}
h2{
	text-align: center;
	margin-left:30%;
}
.navbar-light .navbar-nav .nav-link{
	text-transform: uppercase;
	color: white;
	font-size: 13px;
	font-weight: 600;
}
.carousel-inner{
	max-width: 100%;
	height: auto;
}
.bg-light {
    background-color: #5bbc2e!important;
}
.rhbtn {
	padding-left: 30px;
	padding-right:30px;
	color: white; 
	font-size: 14px;
	font-weight: 700;
	border-radius: none;
	text-transform: uppercase;
}
.rhbtn:hover{
	color: black;
}
.carousel-caption h3{
	font-size: 48px;
	color: black;
	font-weight: 800;
	text-transform: uppercase;
}
.carousel-caption span{
	color: #5bbc2e;
}
.carousel-indicators li{
	height: 14px;
	width: 14px;
	border-radius: 50%;
	background: none;
	border: 2px solid white;
}
.carousel-indicators .active {
	height: 14px;
	width: 14px;
	border-radius: 50%;	
	background: #5bbc2e;
	border-color: #5bbc2e;
}
.jumbotron{
	text-align: center;
	background: #f5f5f5;
	width: 80%;
	margin: 0 auto;
}

.jumbotron h2{
	font-size: 48px;
	color: black;
	font-weight: 800;
	text-transform: uppercase;
}
.jumbotron span{
	color: #5bbc2e;
}
.jumbotron p{
	font-size: 12px;
	color: #515151;
	font-weight: 400;
}
.card{
	border: white;
}
.card img{
	width: 50px;
	margin: 0 auto; 
}
.card h4{
	font-size: 16px;
	text-transform: uppercase;
	text-align: center;
	color: #5bbc2e;
}
.card p{
	font-size: 12px;
	color: #515151;
	font-weight: 400;
	text-align: center;
}
.row{
	padding-top: 50px;
    padding-bottom: 50px;
}
.row img{
	max-width: 100%;
	height: auto;
}
.card2 h4{
	text-transform: uppercase;
	color: #8d8d8d;
	font-size: 30px;
	font-weight: 800;
}
.card2 h4 span{
	color:#5bbc2e;
}
.card-body2 ul{
	list-style-type: none;
	font-size: 14px;
}
.card-body2 ul img{
	width: 10px;
	height: 10px;
	margin-right: 10px;
}
.text2 h4{
	margin-top: 50px;
	text-align: center;
	text-transform: uppercase;
	color: #8d8d8d;
	font-size: 30px;
	font-weight: 800;
}
.text2 h4 span{
	color:#5bbc2e;
}
.card-body2{
	padding-left: 0;
}
.card-body2{
	color: #4b4b4b;
	font-size: 14px;
}
.bgcard{ 
	background: #f5f5f5;
}
.carders{
	margin-top: 20px;
}
.carders img{
	width: 100%;
}
.carders a{
	margin: 0 auto;
	border-radius: 0;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
	color: white;
}
.carders{
	text-align: center;
	font-size: 12px;
	font-weight: 800;
}
.card-bodylower{
	border: 1px solid #e9ecef;
	border-top: none;
}
.card-bodylower p{
	margin-top: 10px;
	text-transform: uppercase;
	color: #4b4b4b;
}
.btnblue{
	background: #2CA7E0;
}
.btngreen{
	background: #5bbc2e;
}
.btnyellow{
	background: #D9C00E;
}
.btnpurple{
	background: #C42FC9;
}
footer{
	background: #141414;
	color: #e0e0e0;
	font-weight: 600;
	font-size: 12px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-transform: uppercase;
}
.card1{
	order: 1;
}
.card2{
	order: 2;
}
.bgmidle{
	margin-bottom: 50px;
}
.bgcontainer{
	background: #f5f5f5 !important;
}
.bgwhite{
	background: white;
}









