{% block subject %}New password{% endblock %}

{% block body_text %}

{% endblock %}

{% block body_html %}

    <div>Hello {{ user.username }} !</div>
    <hr/>

    <div>
        You can change password? just following
        <a href={{ confirmationUrl }} >link</a>
    </div>
    <br>

    <div> With respect,<br>
        SibShop </div>
{% endblock %}
